@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');

body {
  font-family: 'Quattrocento';
  background-color: rgb(69, 178, 225);
  max-width: 600px;
  margin: 0 auto;
}