.header {
}

.siteTitle {
  font-family: 'Indie Flower';
  text-align: center;
  cursor: pointer;
}

.navigationBar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.logout {
  position: fixed;
  top: 10px;
  right: 10px;
}