.header {
  background-color: white;
  margin-top: 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: solid 5px darkblue;
  z-index: 10;
}

.siteTitle {
  font-family: 'Indie Flower';
  text-align: center;
  cursor: pointer;
}

.navigationBar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.logout {
  position: fixed;
  top: 10px;
  right: 10px;
}