.welcome {
  margin: 5px;
  text-align: center;
}


@media (min-width: 291px) {
  .profileHeader {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    max-width: 300px;
    height: 150px;
  }
}

@media (max-width: 290px) {
  .profileHeader {
    display: flex;
    flex-direction: column;
  }
}

.feature {
  background-color: white;
  border: solid 3px #0357b0;
  border-radius: 10px;
  margin: 10px 0px;
  padding: 0px 10px 20px 10px;
  max-width: 300px;
  box-shadow: 3px 3px 10px 0px black;
}

@media (min-width: 300px) {
  .feature {
    width: 300px;
  }
}

.title {
  text-align: center;
  margin: 0px;
}
.event {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 5px
  }

  h5 {
    margin: 0px 0px 2px;
  }


  .eventDate {
    font-size: 1em;
    display: block;
    position: relative;
    width: 6em;
    height: 6em;
    background-color: #fff;
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    overflow: hidden;
  
      .month {
        position: absolute;
        top: 0;
        padding: 0.4em 0;
        color: #fff;
        background-color: #1c5685;
        border-bottom: 1px dashed #000000;
        box-shadow: 0 2px 0 #000000;
      }
  
      .weekday {
        position: absolute;
        bottom: 0.3em;
        color: #1c5685
      }
  
      
      .day {
        font-size: 2.4em;
        letter-spacing: -0.05em;
        padding-top: 0.9em;
        color: #2f2f2f;
      }
  }
  
  .eventDate * {
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
  }
}

.moods {
  display: flex;
  flex-direction: column;
  align-items: center;

    ul{
      margin: 2px 5px 15px;

      li {
        margin-bottom: 2px;
      }
    }
}



.allFeatures {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newHeader {
  color: white;
    background-color: crimson;
    border-radius: 30px;
    padding: 0px 7px;
    margin: 5px;
}

.dot {
  height: 7px;
    width: 7px;
    background-color: crimson;
    border-radius: 50%;
    display: inline-block;
}