.profileHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature {
  background-color: white;
  border: solid 3px #0357b0;
  border-radius: 10px;
  margin: 10px 0px;
  padding: 0px 10px 20px 10px;
  width: 300px;
}

.event {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
  
  }

  .eventDate {
    font-size: 1em;
    display: block;
    position: relative;
    width: 7em;
    height: 7em;
    background-color: #fff;
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    overflow: hidden;
  
      .month {
        position: absolute;
        top: 0;
        padding: 0.4em 0;
        color: #fff;
        background-color: #fd9f1b;
        border-bottom: 1px dashed #f37302;
        box-shadow: 0 2px 0 #fd9f1b;
      }
  
      .weekday {
        position: absolute;
        bottom: 0.3em;
        color: #fd9f1b;
      }
  
      
      .day {
        font-size: 2.8em;
        letter-spacing: -0.05em;
        padding-top: 0.8em;
        color: #2f2f2f;
      }
  }
  
  .eventDate * {
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
  }
}



.allFeatures {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newHeader {
  color: white;
    background-color: crimson;
    border-radius: 30px;
    padding: 0px 7px;
    margin: 5px;
}

.dot {
  height: 7px;
    width: 7px;
    background-color: crimson;
    border-radius: 50%;
    display: inline-block;
}